fastapi
firebase-admin
google-auth
httpx
pyjwt
python-dotenv
google-cloud-storage
google-cloud-firestore
PyGithub
pydantic
uvicorn
google-cloud-aiplatform==1.38.0
google-generativeai==0.4.1
sentence-transformers
torch
tree-sitter==0.20.4
tree-sitter-languages==1.10.2