# API Framework
fastapi==0.115.0
uvicorn[standard]==0.30.0

# GCP - Vertex AI for FAST batch embeddings
google-cloud-storage==2.14.0
google-cloud-aiplatform==1.38.0
google-generativeai

# GitHub
PyGithub==2.1.1

# Code Parsing
tree-sitter==0.20.4
tree-sitter-languages==1.10.2

# Math
numpy==1.26.0

# Utils
python-dotenv==1.0.0