# API Framework
fastapi==0.115.0
uvicorn[standard]==0.30.0

# GCP
google-cloud-storage
google-cloud-aiplatform
vertexai
google-generativeai

# GitHub
PyGithub==2.1.1
requests==2.31.0

# Code Parsing
tree-sitter==0.20.4
tree-sitter-languages==1.10.2

# Utils
python-dotenv==1.0.0